<legend><%= @feed.name %></legend>

<div class="accordion" id="accordion1">
  <% @feed.articles.desc.each do |article| %>
    <div class="accordion-group">
      <div class="accordion-heading">
          <div class="row show-grid">
            <div class="span2">
              <% if article.saved %>
                <button data-id="<%= article.id %>" data-parent-id="<%= @feed.id %>" class="btn btn-danger btn-mini"><i class='icon-heart icon-white'></i></button>
              <% else %>
                <button data-id="<%= article.id %>" data-parent-id="<%= @feed.id %>" class="btn btn-mini disabled"><i class='icon-heart'></i></button>
              <% end %>
              <%= @feed.name %><br />
              <abbr title="<%= article.date_published_offset.strftime "%F %r" %>"><%= article.helpful_date_published %></abbr>
            </div>
            <div class="span9 <%= 'muted' if article.read %>">
              <a class="accordion-toggle" data-toggle='collapse' data-parent='#accordion1' href="#collapse<%= article.id %>">
              <% if article.read %>
                <%= article.title %>
              <% else %>
                <b><%= article.title %></b>
              <% end %>
              </a>
            </div>
          </div>
        </a>
      </div>
      <div id="collapse<%= article.id %>" class="accordion-body collapse">
        <div class="accordion-inner">
          <h4><a target="_blank" href="<%= article.url %>"><%= article.title%></a></h4>
          <p><small> <%= link_to article.feed.name, article.feed %> by <%= article.author%> </small></p>
          <%= article.description.html_safe %>
        </div>
      </div>
    </div>
  <% end %>
</div>
