<div class="accordion-group">
  <div class="accordion-heading">
    <div class="row">
      <div>
        </div>
       <div class="span2 info">          
          <% if article.saved %>
            <button data-id="<%= article.id %>" data-parent-id="<%= article.feed.id %>" class="btn btn-danger btn-mini"><i class='icon-heart icon-white'></i></button>
          <% else %>
            <button data-id="<%= article.id %>" data-parent-id="<%= article.feed.id %>" class="btn btn-mini disabled"><i class='icon-heart'></i></button>
          <% end %>
          <small><%= article.feed.name %></small>
        </div>
        <div class="span7">
          <a class="accordion-toggle<%= ' muted' if article.read %>" data-toggle='collapse' data-id="<%= article.id %>" data-parent-id="<%= article.feed.id %>" data-parent='#accordion1' href="#collapse<%= article.id %>">
            <%= article.title.html_safe %>
          </a>
        </div>
        <div class="span2 info">          
          <abbr title="<%= article.date_published_offset.strftime "%F %r" %>"><%= article.helpful_date_published %></abbr>
        </div>
      </div>
  </div>
  <div id="collapse<%= article.id %>" class="accordion-body collapse">
    <div class="accordion-inner">
      <h4><a target="_blank" href="<%= article.url %>"><%= article.title%></a></h4>
      <p><small> <%= link_to article.feed.name, article.feed %> by <%= article.author%> </small></p>
      <%= article.description.html_safe unless article.description.nil? %>
      <hr />
      <a class='muted keep-unread' data-id="<%= article.id %>" data-parent-id="<%= article.feed.id %>" href="#">Keep Unread</a>
    </div>
  </div>
</div>
