<legend><%= @subscription.name %></legend>
<table class="table table-hover">
<% @subscription.feed_items.each do |item| %>
  <tr <%= "class=info" unless item.read %>>
    <td>
      <img src="<%= @subscription.site_url %>/favicon.ico">
    </td>
    <td > <%= @subscription.name %>
    </td>
    <td>
      <a href="<%= item.url %>"><%= item.title %></a> - <%= item.short_description %>  
    </td>
    <td>
      <abbr title="<%= item.date_published_offset.strftime "%F %r" %>"><%= item.helpful_date_published %></abbr>
    </td>
  </tr>
<% end %>
</table>
